# We recommend to use python==3.12.11
transformers==4.49.0
datasets==3.2.0
torch==2.7.1+cu128
lm_eval==0.4.9
accelerate==1.10.1
flash_attn==2.7.4.post1
aiohttp==3.13.0
appdirs==1.4.4
astor==0.8.1
attrs==25.4.0
auto_gptq==0.7.1
beautifulsoup4==4.14.2
bert_score==0.3.13
black==25.11.0
boto3==1.41.5
botocore==1.41.5
cirron==0.4
codetiming==1.4.0
cohere==5.20.0
coverage==7.12.0
deepspeed==0.16.2
dill==0.3.7
django_cache_utils==0.7.2
e2b==2.8.0
easydict==1.13
einops==0.8.1
emoji==2.15.0
fastapi==0.122.0
fastchat==0.1.0
filelock==3.20.0
fire==0.7.1
fugashi==1.5.2
fuzzywuzzy==0.18.0
gradio==6.0.1
gradio_client==2.0.0
hf_transfer==0.1.9
hidet==0.6.1
html2text==2025.4.15
httpx==0.28.1
huggingface_hub==0.35.3
hydra-core==1.3.2
immutabledict==4.2.2
jieba==0.42.1
Jinja2==3.1.6
jsonlines==4.0.0
jsonschema==4.25.1
kstar_planner==1.4.16
langcodes==3.5.0
langdetect==1.0.9
lark==1.3.1
liger_kernel==0.6.4
lightning==2.5.6
lmflow==0.0.9
mamba_ssm==2.2.6.post3
math_verify==0.8.0
matplotlib==3.10.7
mistralai==1.9.11
more_itertools==10.8.0
multipledispatch==1.0.0
nemo==7.2.5
neologdn==0.5.4
nltk==3.9.2
numpy==2.3.5
omegaconf==2.3.0
optimum==2.0.0
packaging==25.0
pandas==2.3.3
pddl==0.4.3
pebble==5.1.3
peft==0.14.0
Pillow==12.0.0
pqdm==0.2.0
psutil==7.1.3
pycountry==24.6.1
pymorphy2==0.9.1
pympler==1.1
pytablewriter==1.2.1
pytest==9.0.1
python-dotenv==1.2.1
PyYAML==6.0.3
radgraph==0.1.18
ray==2.52.0
regex==2025.9.18
Requests==2.32.5
rich==14.2.0
rouge==1.0.1
rouge_score==0.1.2
sacrebleu==2.5.1
sae_lens==6.22.3
safetensors==0.7.0
sandbox_fusion==0.3.7
scikit_learn==1.7.2
scipy==1.16.3
sentence_transformers==5.1.2
setuptools==80.9.0
sglang==0.5.5.post3
sparsify==1.7.0
sqlitedict==2.1.0
stop_sequencer==1.2.3
sympy==1.13.3
tabulate==0.9.0
tarski==0.8.2
tempdir==0.7.1
tenacity==9.1.2
tensordict==0.10.0
termcolor==3.2.0
tiktoken==0.12.0
tilus==0.1.1
tokenizers==0.21.4
torchdata==0.11.0
tqdm==4.66.5
tqdm_multiprocess==0.0.11
transformer_lens==2.16.1
tree_sitter==0.25.2
tree_sitter_python==0.25.0
triton==3.3.1
uvicorn==0.38.0
veomni==0.1.0
verl==0.6.1
wget==3.2
wonderwords==3.0.1
word2number==1.1
xxhash==3.6.0
zeno_client==0.1.16
zstandard==0.25.0
